.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Teste Deploy",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0713c3a1ec8d676d",
        "type": "mqtt-broker",
        "name": "Servidor MQTT",
        "broker": "172.17.0.3",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a2ce666996b24748",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Receber Atualização",
        "topic": "/attNRD",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0713c3a1ec8d676d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "9f966f4e90e85908"
            ]
        ]
    },
    {
        "id": "515c653e191650d9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Lançar Atualização",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8aef1e5b1ad97849"
            ]
        ]
    },
    {
        "id": "8aef1e5b1ad97849",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/attNRD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0713c3a1ec8d676d",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "9f966f4e90e85908",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "cd /data && git pull origin main",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "5371691d33f12ff5"
            ],
            [
                "5371691d33f12ff5"
            ],
            [
                "5371691d33f12ff5"
            ]
        ]
    },
    {
        "id": "5371691d33f12ff5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    }
]